<!DOCTYPE html>
<html ng-app="HomeCloud">
<head>

    <base href="/library/">

    <title>Music Library</title>
    <link href="/public/css/reset.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="/public/fonts/icomoon/style.css" rel="stylesheet" type="text/css">
    <link href="/public/css/common.css" rel="stylesheet" type="text/css">
    <link href="/public/css/library.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/jpeg" href="/public/images/player-icon.jpg">

    <script src="/public/js/application/init.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script src="/public/js/application/libs/jplayer/jquery.jplayer.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js"></script>

    <script src="/public/js/application/libs/angular-post-fix.js"></script>
    <script src="/public/js/application/libs/ng-infinite-scroll.min.js"></script>

    <script src="/public/js/application/homecloud.js"></script>
    <script src="/public/js/application/modules/services.js"></script>
    <script src="/public/js/application/modules/filters.js"></script>
    <script src="/public/js/application/modules/controllers.js"></script>
    <script src="/public/js/application/modules/routes.js"></script>
    <script src="/public/js/application/modules/directives.js"></script>
    <script src="/public/js/application/modules/player.js"></script>

</head>
<body>
<div class="library-header">
    <ul class="items">
        <li class="nav-logo">
                <span class="group">
                    <i class="fa fa-music"></i>
                    <span class="padded logo">Media Library</span>
                </span>
        </li>
        <li class="nav-search">
                <span class="group">
                    <i class="fa fa-search"></i>
                    <span class="padded label">Search</span>
                </span>
        </li>
        <li class="nav-profile">
                <span class="group">
                    <i class="fa fa-user"></i>
                    <span class="padded label" ng-bind="account.user.email"></span>
                </span>
        </li>
    </ul>
</div>
<div class="library-player">
    <ul class="items">
        <li class="player-controls">
            <ul class="controls">
                <li class="ctrl-previous" ng-click="player.doPlayPrev()">
                    <i class="fa fa-backward"></i>
                </li>
                <li class="ctrl-play" ng-click="player.doPlayPause()">
                    <i ng-hide="player.isPlaying" class="fa fa-play"></i>
                    <i ng-show="player.isPlaying" class="fa fa-pause"></i>
                </li>
                <li class="ctrl-next" ng-click="player.doPlayNext()">
                    <i class="fa fa-forward"></i>
                </li>
            </ul>
        </li>
        <li class="player-display">
            <div class="display">
                <div class="cover">
                    <img ng-if="player.playlist.track.cover_file_id"
                         ng-src="/content/cover/{{ player.playlist.track.cover_file_id }}">
                </div>
                <div class="text">
                    <div class="now-playing">
                        <div class="track-title">{{ player.playlist.track | getArtist }} &mdash; {{ player.playlist.track | getTitle }}</div>
                    </div>
                    <div class="progress-background">
                        <div class="time-right" ng-bind="player.playlist.position.duration | mmss"></div>
                        <div class="time-left" ng-bind="player.playlist.position.position | mmss"></div>
                        <div class="progress-area" playback-progress>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="player-icons">
            <ul class="icons">
                <li class="ctrl-repeat">
                    <i class="fa fa-repeat"></i>
                </li>
                <li class="ctrl-shuffle">
                    <i class="fa fa-random"></i>
                </li>
                <li class="ctrl-volume">
                    <div class="volume-controller">
                        <div class="volume-background">
                            <div class="background-line"></div>
                            <div class="value-line"></div>
                        </div>
                    </div>
                    <i class="fa fa-volume-up"></i>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="library-sidebar">
    <div class="sidebar">
        <div class="section">
            <div class="section-title">
                <div class="right actions">
                    <div class="upload">
                        <i class="fa fa-cloud-upload"></i>
                    </div>
                </div>
                <span class="label">Library</span>
            </div>
            <ul class="section-list">
                <li>
                    <a href="#/artists/">
                        <span class="group">
                            <i class="icon-artists"></i>
                            <span class="label padded">Artists</span>
                        </span>
                        <div class="badge right" ng-bind-template="{{ account.user.stats.artists_count | count }}">-</div>
                    </a>
                </li>
                <li>
                    <a href="#/albums/">
                        <span class="group">
                            <i class="icon-albums"></i>
                            <span class="label padded">Albums</span>
                        </span>
                        <div class="badge right" ng-bind-template="{{ account.user.stats.albums_count | count}}">-</div>
                    </a>
                </li>
                <li>
                        <span class="group">
                            <i class="icon-songs"></i>
                            <span class="label padded">Songs</span>
                        </span>

                    <div class="badge right" ng-bind-template="{{ account.user.stats.tracks_count | count }}">-</div>
                </li>
                <li>
                        <span class="group">
                            <i class="icon-genres"></i>
                            <span class="label padded">Genres</span>
                        </span>

                    <div class="badge right" ng-bind-template="{{ account.user.stats.genres_count | count }}">-</div>
                </li>
            </ul>
        </div>
        <div class="section">
            <div class="section-title">
                <div class="right actions">
                    <div class="new-playlist">
                        <i class="fa fa-plus"></i>
                    </div>
                </div>
                <span class="label">Playlists</span>
            </div>
            <ul class="section-list">
<!--                <li>
                    <div class="group">
                        <i class="fa fa-music"></i>
                        <span class="label padded">Best of All</span>
                    </div>
                </li>
                <li>
                    <div class="group">
                        <i class="fa fa-music"></i>
                        <span class="label padded">Slow Motion</span>
                    </div>
                </li>
                <li>
                    <div class="group">
                        <i class="fa fa-music"></i>
                        <span class="label padded">The Beatles</span>
                    </div>
                </li>
                <li>
                    <div class="group">
                        <i class="fa fa-music"></i>
                        <span class="label padded">Michael Jackson</span>
                    </div>
                </li>-->
            </ul>
        </div>
    </div>
</div>
<div ng-view="" autoscroll="true"></div>

</body>
</html>