<!DOCTYPE html>
<html ng-app="HomeCloud">
<head>
    <base href="/library/">

    <title>Music Library</title>
    <link href="/public/css/reset.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="/public/fonts/icomoon/style.css" rel="stylesheet" type="text/css">
    <link href="/public/css/common.css" rel="stylesheet" type="text/css">
    <link href="/public/css/library.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/jpeg" href="/public/images/player-icon.jpg">

    <script src="/public/js/application/init.js"></script>
    <script src="/public/js/application/libs/functional.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script src="/public/js/application/libs/jplayer/jquery.jplayer.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-cookies.min.js"></script>

    <script src="/public/js/application/libs/angular-post-fix.js"></script>
    <script src="/public/js/application/libs/ng-infinite-scroll.min.js"></script>

    <script src="/public/js/application/homecloud.js"></script>
    <script src="/public/js/application/modules/services.js"></script>
    <script src="/public/js/application/modules/filters.js"></script>
    <script src="/public/js/application/modules/controllers.js"></script>
    <script src="/public/js/application/modules/routes.js"></script>
    <script src="/public/js/application/modules/directives.js"></script>
    <script src="/public/js/application/modules/player.js"></script>

    <script src="/public/js/application/modules/upload.js"></script>
    <script src="/public/js/application/modules/metadata.js"></script>
    <script src="/public/js/application/modules/action.js"></script>

</head>
<body>
<div class="library-header">
    <ul class="items">
        <li class="nav-logo">
                <span class="group">
                    <i class="fa fa-music"></i>
                    <span class="padded logo">Media Library</span>
                </span>
        </li>
        <li class="nav-search" ng-controller="SearchController">
            <div class="search-background">
                <input class="main-search-box" type="text" ng-model="query" placeholder="Search">
                <div class="main-search-reset" ng-click="query=''" ng-show="query.length > 0">
                    <i class="fa fa-times"></i>
                </div>
            </div>
            <div class="search-results ng-cloak" ng-show="query.length > 0">
                <div class="search-group">
                    <!-- ARTISTS -->
                    <div class="search-title">
                        <i class="icon-artists"></i>
                        <span class="title">
                            <a href="artists?q={{ query | uri }}">Found in artists</a>
                        </span>
                    </div>
                    <div class="query-loader" ng-show="results.artists_busy"></div>
                    <div class="search-content" ng-hide="results.artists_busy">
                        <div class="content-item" ng-repeat="artist in results.artists">
                            <div class="cover-background left">
                                <img ng-if="artist.small_cover_id" ng-src="/file/{{ artist.small_cover_id }}">
                            </div>
                            <div class="title">
                                <a ng-href="{{ artist.artist_url }}" ng-bind="artist.album_artist | artistFilter"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="search-group">
                    <!-- ALBUMS -->
                    <div class="search-title">
                        <i class="icon-artists"></i>
                        <span class="title">
                            <a href="albums?q={{ query | uri }}">Found in albums</a>
                        </span>
                    </div>
                    <div class="query-loader" ng-show="results.albums_busy"></div>
                    <div class="search-content" ng-hide="results.albums_busy">
                        <div class="content-item" ng-repeat="album in results.albums">
                            <div class="cover-background left">
                                <img ng-if="album.small_cover_id" ng-src="/file/{{ album.small_cover_id }}">
                            </div>
                            <div class="title">
                                <a ng-href="{{ album.album_url }}">
                                    <span class="artist" ng-bind="album.album_artist | artistFilter"></span>
                                    -
                                    <span class="album" ng-bind="album.track_album | albumFilter"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="search-group">
                    <!-- TRACKS -->
                    <div class="search-title">
                        <i class="icon-artists"></i>
                        <span class="title">
                            <a href="tracks?q={{ query | uri }}">Found in tracks</a>
                        </span>
                    </div>
                    <div class="query-loader" ng-show="results.tracks_busy"></div>
                    <div class="search-content" ng-hide="results.tracks_busy">
                        <div class="content-item" ng-repeat="track in results.tracks">
                            <div class="cover-background left">
                                <img ng-if="track.small_cover_id" ng-src="/file/{{ track.small_cover_id }}">
                            </div>
                            <div class="title">
                                <a ng-href="tracks?q=id:{{ track.id }}">
                                    <span class="artist" ng-bind="track | getArtist"></span>
                                    -
                                    <span class="title" ng-bind="track | getTitle"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-profile">
                <span class="group">
                    <i class="fa fa-user"></i>
                    <span class="padded label" ng-bind="account.user.name"></span>
                </span>
        </li>
    </ul>
</div>
<div class="library-player">
    <ul class="items">
        <li class="player-controls">
            <ul class="controls">
                <li class="ctrl-previous" ng-click="player.doPlayPrev()">
                    <i class="fa fa-backward"></i>
                </li>
                <li class="ctrl-play" ng-click="player.doPlayPause()">
                    <i class="fa"
                       ng-class="{'fa-refresh rotate': player.isBuffering && player.isPlaying, 'fa-play': !player.isPlaying, 'fa-pause': !player.isBuffering && player.isPlaying}"></i>
                </li>
                <li class="ctrl-next" ng-click="player.doPlayNext()">
                    <i class="fa fa-forward"></i>
                </li>
            </ul>
        </li>
        <li class="track-display">
            <div class="track-container">
                <div class="cover">
                    <img ng-if="player.playlist.track.small_cover_id"
                         ng-src="/file/{{ player.playlist.track.small_cover_id }}">
                </div>
                <div class="track-info">
                    <div class="current-title" ng-bind="player.playlist.track | getTitle"></div>
                    <div class="current-artist" ng-bind="player.playlist.track | getArtist"></div>
                    <div class="current-rating" track-rating="player.playlist.track"></div>
                </div>
            </div>
        </li>
        <li class="player-display">
            <div class="peaks-background" ng-show="player.isLoaded">
                <div class="waveform-loader" ng-show="loading">Loading peaks data...</div>
                <div class="waveform-container" seek-controller="" ng-class="{ hidden: loading }">
                    <canvas class="waveform-canvas" peak-data=""></canvas>
                    <div class="track-progress" track-position=""></div>
                    <div class="time-right">
                        <span ng-bind="player.playlist.position.position | mmss : true"></span>
                        /
                        <span ng-bind="player.playlist.position.duration | mmss : true"></span>
                    </div>
                </div>
            </div>
        </li>
        <li class="player-icons">
            <ul class="icons">
                <li class="ctrl-repeat">
                    <i class="fa fa-repeat"></i>
                </li>
                <li class="ctrl-shuffle">
                    <i class="fa fa-random"></i>
                </li>
                <li class="ctrl-volume">
                    <div class="volume-controller">
                        <div class="volume-background" volume-controller>
                            <div class="background-line"></div>
                            <div class="value-line"></div>
                            <div class="volume-bulb"></div>
                        </div>
                    </div>
                    <i class="fa"
                       ng-class="{'fa-volume-off': player.volume <= 0.3, 'fa-volume-down': player.volume > 0.3 && player.volume <= 0.6, 'fa-volume-up': player.volume > 0.6}"></i>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="library-sidebar">
    <div class="sidebar">
        <div class="section">
            <div class="section-title">
                <div class="right actions">
                    <div class="upload" ng-click="upload.action.add()">
                        <i class="fa fa-cloud-upload"></i>
                    </div>
                </div>
                <span class="label">Library</span>
            </div>
            <ul class="section-list">
                <li active-tab="artists">
                    <a class="block" href="artists">
                        <span class="group">
                            <i class="icon-artists"></i>
                            <span class="label padded">Artists</span>
                        </span>

                        <div class="badge right" ng-bind="account.user.stats.artists_count | count"></div>
                    </a>
                </li>
                <li active-tab="albums">
                    <a class="block" href="albums">
                        <span class="group">
                            <i class="icon-albums"></i>
                            <span class="label padded">Albums</span>
                        </span>

                        <div class="badge right" ng-bind="account.user.stats.albums_count | count"></div>
                    </a>
                </li>
                <li active-tab="compilations">
                    <a class="block" href="compilations">
                        <span class="group">
                            <i class="icon-albums"></i>
                            <span class="label padded">Compilations</span>
                        </span>

                        <div class="badge right" ng-bind="account.user.stats.compilations_count | count"></div>
                    </a>
                </li>
                <li active-tab="genres">
                    <a class="block" href="genres">
                        <span class="group">
                            <i class="icon-genres"></i>
                            <span class="label padded">Genres</span>
                        </span>

                        <div class="badge right" ng-bind="account.user.stats.genres_count | count"></div>
                    </a>
                </li>
                <li active-tab="tracks">
                    <a class="block" href="tracks">
                        <span class="group">
                            <i class="icon-songs"></i>
                            <span class="label padded">Tracks</span>
                        </span>

                        <div class="badge right" ng-bind-template="{{ account.user.stats.tracks_count | count }}">-
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="section">
            <div class="section-title">
                <div class="right actions">
                    <div class="new-playlist">
                        <i class="fa fa-plus"></i>
                    </div>
                </div>
                <span class="label">Playlists</span>
            </div>
            <ul class="section-list">
                <!--                <li>
                                    <div class="group">
                                        <i class="fa fa-music"></i>
                                        <span class="label padded">Best of All</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="group">
                                        <i class="fa fa-music"></i>
                                        <span class="label padded">Slow Motion</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="group">
                                        <i class="fa fa-music"></i>
                                        <span class="label padded">The Beatles</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="group">
                                        <i class="fa fa-music"></i>
                                        <span class="label padded">Michael Jackson</span>
                                    </div>
                                </li>-->
            </ul>
        </div>
    </div>
</div>
<div ng-view="" autoscroll="true"></div>
<div class="library-upload" ng-show="upload.data.uploading" ng-controller="UploadController">
    <div class="inner">
        <div class="caption">
            <div class="cancel-block right" ng-click="upload.action.cancel()">
                <i class="fa fa-times"></i>
            </div>
            <div class="title-block">Uploading</div>
        </div>
        <div class="content">
            <div class="current-file clear-fix">
                <div class="count right" ng-show="upload.data.queue.length">
                    <span>Left:</span>
                    <span ng-bind="upload.data.queue.length"></span>
                </div>
                <div class="name" ng-bind="upload.data.current.name"></div>
            </div>
            <div class="progress-bar">
                <div class="progress-back">
                    <div class="progress-percent">{{ upload.data.progress.percent }}%</div>
                    <div class="progress-handle" progress-bar="upload.data.progress.percent"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>