<!DOCTYPE html>
<html ng-app="Lobby">
<head>
    <base href="/">

    <title>Music Library</title>

    <link href="/public/css/reset.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/lobby.css">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="icon" type="image/jpeg" href="/public/images/player-icon.jpg">

    <script src="/public/js/application/init.js"></script>
    <script src="/public/js/application/libs/functional.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/public/js/application/libs/jplayer/jquery.jplayer.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="/public/js/application/libs/angular-post-fix.js"></script>


</head>
<body>
    <div class="lobby-wrapper">
        <div class="lobby-login-form">
            <form class="login-form">
                <input class="block" type="text" ng-model="login" placeholder="Login" name="login">
                <input class="block" type="password" ng-model="password" placeholder="Password" name="password">
                <input class="login" type="submit" value="Login">
            </form>
        </div>
    </div>
</body>
</html>