<!DOCTYPE html>
<html ng-app="TestApp">
<head>
    <base href="/">

    <title>Enter to MusicLoud</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>

    <script src="/js/application/libs/ui-scroll.min.js"></script>
    <script src="/js/application/test.js"></script>

    <style>
        .some-class, .other-class {
            position: relative;
        }
    </style>

</head>
<body>
<div class="wrapper" ng-controller="TestController">
    <div ui-scroll="item in dataSource" class="other-class">
        <div class="some-class" ng-bind="$index"></div>
    </div>
</div>
</body>
</html>