*
!app
!config
!public/fonts
!public/images
!public/js
!public/views
!public/favicon.ico
!public/index.php
!src
!composer.json
!composer.lock
!package.json
!package-lock.json
!webpack.config.js
!gulpfile.js
!musicloud/nginx/default.conf.template
!.php-database-migration
