version: '3.5'

services:
  db:
    image: 'library/postgres:9.5'
    environment:
      POSTGRES_PASSWORD: musicloud
      POSTGRES_USER: musicloud
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - 127.0.0.1:5432:5432
    networks:
      - musicloud
volumes:
  postgres:
    driver: local
networks:
  musicloud:
    name: musicloud
