body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  overflow-y: scroll;
}
b {
  font-weight: 600;
}
.clear-fix:after {
  content: "";
  display: table;
  clear: both;
}
.colored {
  background-color: aquamarine;
}
.group .padded {
  padding-left: 6px;
}
.right {
  float: right;
}
.left {
  float: left;
}
.badge {
  font-size: 8pt;
  padding: 2px 4px;
  width: 32px;
  text-align: right;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
