.container {
  position: relative;
}
.container [class*="col"] {
  float: left;
}
.container .col1 {
  width: 8.33%;
}
.container .col2 {
  width: 16.66%;
}
.container .col3 {
  width: 25%;
}
.container .col4 {
  width: 33.33%;
}
.container .col5 {
  width: 41.66%;
}
.container .col6 {
  width: 50%;
}
.container .col7 {
  width: 58.33%;
}
.container .col8 {
  width: 66.66%;
}
.container .col9 {
  width: 75%;
}
.container .col10 {
  width: 83.33%;
}
.container .col11 {
  width: 91.66%;
}
.container .col12 {
  width: 100%;
}
.container [class*="square"] {
  float: left;
}
.container .square1 {
  width: 8.33%;
  padding-bottom: 8.33%;
}
.container .square2 {
  width: 16.66%;
  padding-bottom: 16.66%;
}
.container .square3 {
  width: 25%;
  padding-bottom: 25%;
}
.container .square4 {
  width: 33.33%;
  padding-bottom: 33.33%;
}
.container .square5 {
  width: 41.66%;
  padding-bottom: 41.66%;
}
.container .square6 {
  width: 50%;
  padding-bottom: 50%;
}
.container .square7 {
  width: 58.33%;
  padding-bottom: 58.33%;
}
.container .square8 {
  width: 66.66%;
  padding-bottom: 66.66%;
}
.container .square9 {
  width: 75%;
  padding-bottom: 75%;
}
.container .square10 {
  width: 83.33%;
  padding-bottom: 83.33%;
}
.container .square11 {
  width: 91.66%;
  padding-bottom: 91.66%;
}
.container .square12 {
  width: 100%;
  padding-bottom: 100%;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  overflow-y: scroll;
}
b {
  font-weight: 600;
}
.clear-fix:after {
  content: "";
  display: table;
  clear: both;
}
.colored {
  background-color: aquamarine;
}
.group .padded {
  padding-left: 6px;
}
.right {
  float: right;
}
.left {
  float: left;
}
.badge {
  font-size: 8pt;
  padding: 2px 4px;
  width: 32px;
  text-align: right;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 1px;
}
.rating-body {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-weight: 600;
}
.rating-body > li {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.rating-body > li:hover:before,
.rating-body > li:hover ~ li:before {
  content: "\f005";
}
.library-header {
  position: fixed;
  width: 100%;
  height: 48px;
  display: table;
  table-layout: fixed;
  border-bottom: 1px solid #eaeaea;
  top: 0;
  box-sizing: border-box;
  z-index: 10;
  color: #dddddd;
  background-color: #223344;
}
.library-header ul.items {
  width: 100%;
  height: 100%;
  display: table-row;
}
.library-header ul.items > li {
  vertical-align: middle;
  display: table-cell;
  height: 48px;
}
.library-header ul.items > li > .group {
  padding-left: 24px;
  padding-right: 24px;
}
@media (max-width: 1024px) {
  .library-header ul.items > li > .group {
    padding-left: 16px;
  }
}
@media (max-width: 640px) {
  .library-header ul.items > li > .group {
    padding-left: 8px;
  }
}
@media (max-width: 1024px) {
  .library-header ul.items > li > .group {
    padding-right: 16px;
  }
}
@media (max-width: 640px) {
  .library-header ul.items > li > .group {
    padding-right: 8px;
  }
}
.library-header ul.items > li.nav-logo,
.library-header ul.items > li.nav-profile {
  width: 260px;
}
@media (max-width: 1024px) {
  .library-header ul.items > li.nav-logo,
  .library-header ul.items > li.nav-profile {
    width: 180px;
  }
}
@media (max-width: 640px) {
  .library-header ul.items > li.nav-logo,
  .library-header ul.items > li.nav-profile {
    width: 140px;
  }
}
.library-header ul.items > li:not(:last-child) {
  border-right: 1px solid #112233;
}
.library-header ul.items > li:not(:first-child) {
  border-left: 1px solid #334455;
}
.library-player {
  position: fixed;
  width: 100%;
  height: 48px;
  display: table;
  table-layout: fixed;
  border-top: 1px solid #eaeaea;
  bottom: 0;
  z-index: 10;
  color: #dddddd;
  background-color: #223344;
}
.library-player ul.items {
  width: 100%;
  height: 100%;
  display: table-row;
}
.library-player ul.items > li {
  vertical-align: middle;
  display: table-cell;
  height: 48px;
}
.library-player ul.items > li.player-controls,
.library-player ul.items > li.player-icons {
  width: 260px;
}
@media (max-width: 1024px) {
  .library-player ul.items > li.player-controls,
  .library-player ul.items > li.player-icons {
    width: 180px;
  }
}
@media (max-width: 640px) {
  .library-player ul.items > li.player-controls,
  .library-player ul.items > li.player-icons {
    width: 140px;
  }
}
.library-player ul.items > li.player-display {
  padding: 0;
}
.library-player .player-controls {
  position: relative;
}
.library-player .player-controls .controls li {
  float: left;
  width: 33%;
  text-align: center;
  font-size: 18px;
}
.library-player .player-controls .controls li.ctrl-play {
  font-size: 24px;
}
.library-player .player-controls .controls li.ctrl-previous,
.library-player .player-controls .controls li.ctrl-next {
  margin-top: 2px;
}
.library-player .player-icons {
  position: relative;
}
.library-player .player-icons .icons li {
  float: left;
  width: 33%;
  text-align: center;
  font-size: 18px;
  position: relative;
}
.library-player .player-icons .icons .volume-controller {
  display: none;
  bottom: 32px;
  position: absolute;
  width: 32px;
  height: 100px;
  left: 50%;
  margin-left: -16px;
  background-color: #223344;
  box-sizing: border-box;
}
.library-player .player-icons .icons .volume-controller .volume-background {
  width: 5px;
  height: 75px;
  margin-left: 14px;
  margin-top: 13px;
  position: relative;
}
.library-player .player-icons .icons .volume-controller .volume-background .background-line {
  left: 2px;
  position: absolute;
  width: 1px;
  background-color: #000000;
  height: 100%;
  z-index: 1;
}
.library-player .player-icons .icons .volume-controller .volume-background .value-line {
  left: 2px;
  position: absolute;
  width: 1px;
  height: 50%;
  z-index: 2;
  background-color: #ff4141;
  bottom: 0;
}
.library-player .player-display {
  position: relative;
}
.library-player .player-display .display {
  overflow: hidden;
}
.library-player .player-display .display .cover {
  float: left;
  width: 48px;
  height: 48px;
}
.library-player .player-display .display .cover img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.library-player .player-display .display .text {
  position: relative;
  padding-left: 48px;
  box-sizing: border-box;
}
.library-player .player-display .display .text .now-playing {
  text-align: center;
}
.library-player .player-display .display .text .now-playing .track-title {
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  font-size: 10pt;
  margin-top: 8px;
}
.library-player .player-display .display .text .progress-background {
  box-sizing: border-box;
  padding: 0 16px;
  margin-top: 4px;
  width: 100%;
  height: 9px;
}
@media (max-width: 640px) {
  .library-player .player-display .display .text .progress-background {
    padding: 0 8px;
  }
}
.library-player .player-display .display .text .progress-background .progress-area {
  overflow: hidden;
  padding: 5px 0;
  position: relative;
  height: 6px;
  cursor: pointer;
}
.library-player .player-display .display .text .progress-background .progress-area .progress-line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: black;
  z-index: 0;
  border-radius: 1px;
  transition: 0.1s linear all;
}
.library-player .player-display .display .text .progress-background .progress-area .progress-position {
  position: absolute;
  width: 44%;
  height: 1px;
  background-color: #ff4141;
  z-index: 1;
  border-radius: 1px;
  transition: 0.1s linear all;
}
.library-player .player-display .display .text .progress-background .progress-area .progress-bulb {
  opacity: 0;
  transition: 0.1s linear opacity;
  margin-top: -4px;
  margin-left: -4px;
  position: absolute;
  left: 44%;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #ff4141;
  z-index: 2;
  box-shadow: 0 0 4px #ff4141;
}
.library-player .player-display .display .text .progress-background .time-left {
  float: left;
  margin-right: 16px;
}
@media (max-width: 500px) {
  .library-player .player-display .display .text .progress-background .time-left {
    display: none;
  }
}
.library-player .player-display .display .text .progress-background .time-right {
  float: right;
  margin-left: 16px;
}
@media (max-width: 500px) {
  .library-player .player-display .display .text .progress-background .time-right {
    display: none;
  }
}
.library-player .player-display .display .text .progress-background .time-left,
.library-player .player-display .display .text .progress-background .time-right {
  font-size: 8pt;
  font-weight: bold;
}
.library-player .player-display .display .text .progress-background:hover .progress-bulb {
  opacity: 1;
}
.library-player .player-display .display .text .progress-background:hover .progress-line {
  box-shadow: 0 0 3px #000000;
}
.library-player .player-display .display .text .progress-background:hover .progress-position {
  box-shadow: 0 0 3px #ff4141;
}
.library-sidebar {
  z-index: 10;
  width: 260px;
  position: fixed;
  box-sizing: border-box;
  top: 48px;
  bottom: 48px;
  color: #757577;
}
@media (max-width: 1024px) {
  .library-sidebar {
    width: 180px;
  }
}
@media (max-width: 640px) {
  .library-sidebar {
    width: 140px;
  }
}
.library-sidebar .sidebar {
  background-color: #f1f2f4;
  border-right: 1px solid #ced1d6;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.library-sidebar .sidebar .section {
  padding-top: 24px;
  padding-bottom: 24px;
}
@media (max-width: 1024px) {
  .library-sidebar .sidebar .section {
    padding-top: 16px;
  }
}
@media (max-width: 640px) {
  .library-sidebar .sidebar .section {
    padding-top: 8px;
  }
}
@media (max-width: 1024px) {
  .library-sidebar .sidebar .section {
    padding-bottom: 16px;
  }
}
@media (max-width: 640px) {
  .library-sidebar .sidebar .section {
    padding-bottom: 8px;
  }
}
.library-sidebar .sidebar .section .section-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12pt;
  padding-bottom: 16px;
  border-bottom: 1px solid #ced1d6;
  margin-bottom: 8px;
  margin-left: 24px;
  margin-right: 24px;
}
@media (max-width: 1024px) {
  .library-sidebar .sidebar .section .section-title {
    padding-bottom: 8px;
  }
}
@media (max-width: 640px) {
  .library-sidebar .sidebar .section .section-title {
    padding-bottom: 8px;
  }
}
@media (max-width: 1024px) {
  .library-sidebar .sidebar .section .section-title {
    margin-left: 16px;
  }
}
@media (max-width: 640px) {
  .library-sidebar .sidebar .section .section-title {
    margin-left: 8px;
  }
}
@media (max-width: 1024px) {
  .library-sidebar .sidebar .section .section-title {
    margin-right: 16px;
  }
}
@media (max-width: 640px) {
  .library-sidebar .sidebar .section .section-title {
    margin-right: 8px;
  }
}
.library-sidebar .sidebar .section ul.section-list {
  font-size: 10pt;
  font-weight: 600;
}
.library-sidebar .sidebar .section ul.section-list > li {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
}
@media (max-width: 1024px) {
  .library-sidebar .sidebar .section ul.section-list > li {
    padding-top: 8px;
  }
}
@media (max-width: 640px) {
  .library-sidebar .sidebar .section ul.section-list > li {
    padding-top: 4px;
  }
}
@media (max-width: 1024px) {
  .library-sidebar .sidebar .section ul.section-list > li {
    padding-bottom: 8px;
  }
}
@media (max-width: 640px) {
  .library-sidebar .sidebar .section ul.section-list > li {
    padding-bottom: 4px;
  }
}
@media (max-width: 1024px) {
  .library-sidebar .sidebar .section ul.section-list > li {
    padding-left: 16px;
  }
}
@media (max-width: 640px) {
  .library-sidebar .sidebar .section ul.section-list > li {
    padding-left: 8px;
  }
}
@media (max-width: 1024px) {
  .library-sidebar .sidebar .section ul.section-list > li {
    padding-right: 16px;
  }
}
@media (max-width: 640px) {
  .library-sidebar .sidebar .section ul.section-list > li {
    padding-right: 8px;
  }
}
.library-sidebar .sidebar .section ul.section-list > li.active {
  background-color: #dfe2e9;
  color: #111111;
}
.library-body {
  margin-top: 48px;
  margin-bottom: 48px;
  margin-left: 260px;
  padding-left: 24px;
  padding-right: 24px;
}
@media (max-width: 1024px) {
  .library-body {
    margin-left: 180px;
  }
}
@media (max-width: 640px) {
  .library-body {
    margin-left: 140px;
  }
}
@media (max-width: 1024px) {
  .library-body {
    padding-left: 16px;
  }
}
@media (max-width: 640px) {
  .library-body {
    padding-left: 8px;
  }
}
@media (max-width: 1024px) {
  .library-body {
    padding-right: 16px;
  }
}
@media (max-width: 640px) {
  .library-body {
    padding-right: 8px;
  }
}
.library-body .title {
  padding-top: 24px;
  padding-bottom: 24px;
}
@media (max-width: 1024px) {
  .library-body .title {
    padding-top: 16px;
  }
}
@media (max-width: 640px) {
  .library-body .title {
    padding-top: 8px;
  }
}
@media (max-width: 1024px) {
  .library-body .title {
    padding-bottom: 16px;
  }
}
@media (max-width: 640px) {
  .library-body .title {
    padding-bottom: 8px;
  }
}
.library-body .library-container .album-wrapper {
  padding-bottom: 48px;
}
.library-body .library-container .album-wrapper .cover .cover-background {
  width: 200px;
  height: 200px;
}
@media (max-width: 1024px) {
  .library-body .library-container .album-wrapper .cover .cover-background {
    width: 150px;
  }
}
@media (max-width: 640px) {
  .library-body .library-container .album-wrapper .cover .cover-background {
    width: 100px;
  }
}
@media (max-width: 1024px) {
  .library-body .library-container .album-wrapper .cover .cover-background {
    height: 150px;
  }
}
@media (max-width: 640px) {
  .library-body .library-container .album-wrapper .cover .cover-background {
    height: 100px;
  }
}
.library-body .library-container .album-wrapper .cover .cover-background img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.library-body .library-container .album-wrapper .content {
  margin-left: 200px;
  padding-left: 24px;
}
@media (max-width: 1024px) {
  .library-body .library-container .album-wrapper .content {
    margin-left: 150px;
  }
}
@media (max-width: 640px) {
  .library-body .library-container .album-wrapper .content {
    margin-left: 100px;
  }
}
@media (max-width: 1024px) {
  .library-body .library-container .album-wrapper .content {
    padding-left: 16px;
  }
}
@media (max-width: 640px) {
  .library-body .library-container .album-wrapper .content {
    padding-left: 8px;
  }
}
.library-body .library-container .album-wrapper .content .album-title {
  font-weight: 300;
  border-bottom: 1px solid #ced1d6;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 16px;
}
@media (max-width: 1024px) {
  .library-body .library-container .album-wrapper .content .album-title {
    font-size: 16px;
  }
}
@media (max-width: 640px) {
  .library-body .library-container .album-wrapper .content .album-title {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .library-body .library-container .album-wrapper .content .album-title {
    font-weight: 400;
  }
}
@media (max-width: 640px) {
  .library-body .library-container .album-wrapper .content .album-title {
    font-weight: 600;
  }
}
@media (max-width: 1024px) {
  .library-body .library-container .album-wrapper .content .album-title {
    padding-bottom: 8px;
  }
}
@media (max-width: 640px) {
  .library-body .library-container .album-wrapper .content .album-title {
    padding-bottom: 8px;
  }
}
.library-body .library-container .album-wrapper .content .album-tracks {
  padding-top: 16px;
}
@media (max-width: 1024px) {
  .library-body .library-container .album-wrapper .content .album-tracks {
    padding-top: 8px;
  }
}
@media (max-width: 640px) {
  .library-body .library-container .album-wrapper .content .album-tracks {
    padding-top: 8px;
  }
}
.library-body .library-container .album-wrapper .content .album-tracks .track {
  margin-right: -8px;
  margin-left: -8px;
  margin-bottom: 4px;
  padding: 4px 8px;
  border-radius: 4px;
}
.library-body .library-container .album-wrapper .content .album-tracks .track .duration {
  width: 40px;
  text-align: right;
}
.library-body .library-container .album-wrapper .content .album-tracks .track .duration {
  margin-left: 16px;
}
.library-body .library-container .album-wrapper .content .album-tracks .track .position {
  width: 36px;
}
.library-body .library-container .album-wrapper .content .album-tracks .track .track-title .first {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 1px;
}
.library-body .library-container .album-wrapper .content .album-tracks .track .track-title .second {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 1px;
  margin-left: 36px;
  margin-top: 4px;
  font-size: 9pt;
  color: #757577;
}
.library-body .library-container .album-wrapper .content .album-tracks .track .track-title .second:empty {
  display: none;
}
.library-body .library-container .album-wrapper .content .album-tracks .track.selected {
  background-color: #334455;
  color: #ffffff;
}
.library-body .library-container .album-wrapper .content .album-tracks .track.selected .track-title .second {
  color: #eeeeee;
}
