.library-header {
  position: fixed;
  width: 100%;
  height: 48px;
  display: table;
  table-layout: fixed;
  border-bottom: 1px solid #eaeaea;
  top: 0;
  box-sizing: border-box;
  color: #dddddd;
  background-color: #223344;
}
.library-header ul.items {
  width: 100%;
  height: 100%;
  display: table-row;
}
.library-header ul.items > li {
  vertical-align: middle;
  display: table-cell;
  height: 48px;
  padding: 0 24px;
}
.library-header ul.items > li.nav-logo,
.library-header ul.items > li.nav-profile {
  width: 20%;
}
.library-header ul.items > li:not(:last-child) {
  border-right: 1px solid #112233;
}
.library-header ul.items > li:not(:first-child) {
  border-left: 1px solid #334455;
}
.library-player {
  position: fixed;
  width: 100%;
  height: 48px;
  display: table;
  table-layout: fixed;
  border-top: 1px solid #eaeaea;
  bottom: 0;
  box-sizing: border-box;
  color: #dddddd;
  background-color: #223344;
}
.library-player ul.items {
  width: 100%;
  height: 100%;
  display: table-row;
}
.library-player ul.items > li {
  vertical-align: middle;
  display: table-cell;
  height: 48px;
  padding: 0 10px;
}
.library-player ul.items > li.player-controls,
.library-player ul.items > li.player-icons {
  width: 20%;
}
.library-player ul.items > li.player-display {
  padding: 0;
}
.library-player .player-controls {
  position: relative;
}
.library-player .player-controls .controls li {
  float: left;
  width: 33%;
  text-align: center;
  font-size: 18px;
}
.library-player .player-controls .controls li.ctrl-play {
  font-size: 24px;
}
.library-player .player-controls .controls li.ctrl-previous,
.library-player .player-controls .controls li.ctrl-next {
  margin-top: 2px;
}
.library-player .player-icons {
  position: relative;
}
.library-player .player-icons .icons li {
  float: left;
  width: 33%;
  text-align: center;
  font-size: 18px;
}
.library-player .player-display {
  position: relative;
}
.library-player .player-display .display {
  overflow: hidden;
}
.library-player .player-display .display .cover {
  float: left;
  width: 48px;
  height: 48px;
}
.library-player .player-display .display .cover img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.library-player .player-display .display .text {
  position: relative;
  padding-left: 48px;
  box-sizing: border-box;
}
.library-player .player-display .display .text .now-playing {
  text-align: center;
}
.library-player .player-display .display .text .now-playing .track-title {
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  font-size: 10pt;
  margin-top: 8px;
}
.library-player .player-display .display .text .progress-background {
  box-sizing: border-box;
  padding: 0 16px;
  margin-top: 4px;
  width: 100%;
  height: 9px;
}
.library-player .player-display .display .text .progress-background .progress-area {
  overflow: hidden;
  padding: 5px 0;
  position: relative;
  height: 6px;
  cursor: pointer;
}
.library-player .player-display .display .text .progress-background .progress-area .progress-line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: black;
  z-index: 0;
  border-radius: 1px;
  transition: 0.1s linear all;
}
.library-player .player-display .display .text .progress-background .progress-area .progress-position {
  position: absolute;
  width: 44%;
  height: 1px;
  background-color: #ff4141;
  z-index: 1;
  border-radius: 1px;
  transition: 0.1s linear all;
}
.library-player .player-display .display .text .progress-background .progress-area .progress-bulb {
  opacity: 0;
  transition: 0.1s linear opacity;
  margin-top: -4px;
  margin-left: -4px;
  position: absolute;
  left: 44%;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #ff4141;
  z-index: 2;
  box-shadow: 0 0 4px #ff4141;
}
.library-player .player-display .display .text .progress-background .time-left {
  float: left;
  margin-right: 16px;
}
.library-player .player-display .display .text .progress-background .time-right {
  float: right;
  margin-left: 16px;
}
.library-player .player-display .display .text .progress-background .time-left,
.library-player .player-display .display .text .progress-background .time-right {
  font-size: 8pt;
  font-weight: bold;
}
.library-player .player-display .display .text .progress-background:hover .progress-bulb {
  opacity: 1;
}
.library-player .player-display .display .text .progress-background:hover .progress-line {
  margin-top: -1px;
  height: 3px;
}
.library-player .player-display .display .text .progress-background:hover .progress-position {
  margin-top: -1px;
  height: 3px;
}
.library-sidebar {
  width: 20%;
  position: fixed;
  box-sizing: border-box;
  top: 48px;
  bottom: 48px;
  border-right: 1px solid #ced1d6;
  color: #757577;
}
.library-sidebar .sidebar {
  background-color: #f1f2f4;
  width: 100%;
  height: 100%;
}
.library-sidebar .sidebar .section {
  padding: 24px 0;
}
.library-sidebar .sidebar .section .section-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12pt;
  padding-bottom: 16px;
  border-bottom: 1px solid #ced1d6;
  margin: 8px 24px;
}
.library-sidebar .sidebar .section ul.section-list {
  font-size: 10pt;
  font-weight: 600;
}
.library-sidebar .sidebar .section ul.section-list > li {
  padding: 12px 24px;
}
.library-sidebar .sidebar .section ul.section-list > li.active {
  background-color: #dfe2e9;
  color: #111111;
}
