<div class="library-body">
    <div class="library-container">
        <div class="genre-wrapper list-view container" infinite-scroll="load()"
             infinite-scroll-disabled="busy" infinite-scroll-distance="1">
            <div class="list-item square-zoom" ng-repeat="album in albums">
                <div class="artist-list-content">
                    <div class="cover">
                        <img ng-if="album.middle_cover_id" ng-src="/file/{{ album.middle_cover_id }}">
                    </div>
                    <div class="artist-name">
                        <a class="block" ng-href="{{ album.album_url }}" ng-bind="album.track_album | albumFilter"></a>
                        <a class="block a-artist" ng-bind="album.album_artist | artistFilter"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>