<div class="library-body">
    <div class="album-header clear-fix">
        <img ng-if="album.cover_id" ng-src="/file/{{ album.cover_id }}" class="artwork-blurred">
        <div class="artwork-section left">
            <div class="cover-background">
                <img ng-if="album.cover_id" ng-src="/file/{{ album.cover_id }}">
            </div>
        </div>
        <div class="description-section">
            <div class="album-title" ng-bind="album.album_title | albumFilter"></div>
            <div class="album-info">
                <span class="album-artist" ng-bind="album.album_artist | artistFilter"></span>
                <span class="separator">&middot;</span>
                <span class="album-year" ng-bind="album.album_year"></span>
                <span class="separator">&middot;</span>
                <span class="album-genre" ng-bind="album.album_genre | genreFilter"></span>
                <span class="separator">&middot;</span>
                <span class="album-length" ng-bind="album.length | mmss"></span>
                <span class="separator">&middot;</span>
                <span class="tracks-count" ng-bind="tracks.length"></span>
            </div>
        </div>
    </div>
    <div class="album-view-container" multiselect-list="selected" multiselect-destination="tracks_selected">
        <div class="plain-list tracks-list">
            <div class="plain-list-item header">
                <div class="last-played right" title="Date of last playback">Last played</div>
                <div class="rating right" title="Track rating">Rating</div>
                <div class="skips right" title="Skipped times"><i class="fa fa-thumbs-down"></i></div>
                <div class="plays right" title="Played times"><i class="fa fa-headphones"></i></div>
                <div class="track-artist right" title="Track artist">Artist</div>
                <div class="duration right" title="Track duration"><i class="fa fa-clock-o"></i></div>
                <div class="position left" title="Item number">#</div>
                <div class="track-title" title="Track title">Title</div>
            </div>
            <div class="plain-list-item" multiselect-item="track" ng-repeat="track in tracks"
                 action-play="track" action-context="tracks" action-resolver="null">

                <div class="last-played right" ng-bind="track.last_played_date | dateFilter"></div>
                <div class="rating right" track-rating="track"></div>
                <div class="skips right" title="Times skipped">
                    <span class="times-played" ng-visible="track.times_skipped > 0" ng-bind="track.times_skipped"></span>
                </div>
                <div class="plays right" title="Times played">
                    <span class="times-played" ng-visible="track.times_played > 0" ng-bind="track.times_played"></span>
                </div>
                <div class="track-artist right">
                    <div class="inner"  ng-bind="track | getArtist"></div>
                </div>
                <div class="duration right" ng-bind="track.length | mmss"></div>
                <div class="position left">
                    <div ng-hide="player.playlist.track == track" ng-bind="$index + 1"></div>
                    <div ng-show="player.playlist.track == track">
                        <i class="fa" ng-class="{'fa-volume-up': !player.isBuffering, 'fa-refresh rotate': player.isBuffering}"></i>
                    </div>
                </div>
                <div class="track-title" ng-bind="track | getTitle"></div>
            </div>
        </div>
    </div>
</div>