<div class="library-body">
    <div class="view-header clear-fix">
        <img ng-if="album.cover_id" ng-src="/file/{{ album.cover_id }}" class="artwork-blurred">
        <div class="artwork-section left">
            <div class="cover-background">
                <img ng-if="album.cover_id" ng-src="/file/{{ album.cover_id }}">
                <div class="artwork-chooser">
                    <div class="ml-button" change-artwork="tracks"><i class="fa fa-picture-o"></i> Change</div>
                </div>
            </div>
        </div>
        <div class="description-section">
            <div class="album-artist" ng-show="album.album_artist">
                <div class="inner">
                    <a ng-href="{{ album.artist_url }}" ng-bind="album.album_artist"></a>
                </div>
            </div>
            <div class="album-title">
                <div class="inner" ng-bind="album.album_title | albumFilter"></div>
            </div>
            <div class="album-including" ng-show="tracks | isVariousArtists">
                <div class="inner" ng-bind-html="tracks | groupArtists"></div>
            </div>
            <div class="album-info">
                <table>
                    <thead>
                        <tr>
                            <th>Release Year</th>
                            <th>Tracks/Discs</th>
                            <th>Duration</th>
                            <th>Genre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="album-year" ng-bind="album.album_year"></span>
                            </td>
                            <td>
                                <span class="tracks-count" ng-bind-template="{{ tracks.length }}/{{ album.discs_count }}"></span>
                            </td>
                            <td>
                                <span class="album-length" ng-bind="album.length | mmss"></span>
                            </td>
                            <td>
                                <span class="album-genre" ng-bind="album.album_genre | genreFilter"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="album-view-container" multiselect-list="selected" multiselect-destination="tracks_selected">
        <div class="plain-list tracks-list">
            <div class="plain-list-item header">
                <div class="last-played right xl-visible" title="Date of last playback">Added</div>
                <div class="last-played right md-visible" title="Date of last playback">Last played</div>

                <div class="skips right lg-visible" title="Skipped times"><i class="fa fa-thumbs-down"></i></div>
                <div class="plays right sm-visible" title="Played times"><i class="fa fa-headphones"></i></div>

                <div class="bitrate right lg-visible" title="Track bitrate">Bitrate</div>
                <div class="format right lg-visible" title="Track format">Format</div>

                <div class="rating right sm-visible" title="Track rating">Rating</div>

                <div class="genre right sm-visible" title="Track genre">Genre</div>

                <div class="position left" title="Item number">#</div>
                <div class="inner-info">
                    <div class="left inner-title" ng-class="{'full-width': !album.is_various}">
                        <div class="track-duration right">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="inner">Title</div>
                    </div>
                    <div class="left inner-artist" ng-show="album.is_various">Artist</div>
                </div>
            </div>
            <div class="plain-list-item track-item" multiselect-item="track" ng-repeat="track in tracks"
                 action-play="track" action-context="tracks" action-resolver="null"
                 ml-context-menu="selectedTracksMenu(tracks_selected)">

                <div class="last-played right xl-visible">
                    <div class="ellipsis" ng-bind="track.created_date | dateFilter"></div>
                </div>
                <div class="last-played right md-visible">
                    <div class="ellipsis" ng-bind="track.last_played_date | dateFilter"></div>
                </div>

                <div class="skips right lg-visible" title="Times skipped">
                    <div class="times-played ellipsis" ng-visible="track.times_skipped > 0" ng-bind="track.times_skipped"></div>
                </div>

                <div class="plays right sm-visible" title="Times played">
                    <div class="times-played ellipsis" ng-visible="track.times_played > 0" ng-bind="track.times_played"></div>
                </div>

                <div class="bitrate right lg-visible">
                    <div class="ellipsis" ng-bind="track.bitrate | bitrateFilter"></div>
                </div>
                <div class="format right lg-visible">
                    <div class="ellipsis" ng-bind="track.format"></div>
                </div>

                <div class="rating right  sm-visible">
                    <div class="ellipsis" track-rating="track"></div>
                </div>

                <div class="genre right  sm-visible">
                    <div class="ellipsis" ng-bind="track.track_genre"></div>
                </div>

                <div class="position left">
                    <div class="ellipsis">
                        <div ng-hide="player.playlist.track == track" ng-bind="track | getTrackNumber"></div>
                        <div ng-show="player.playlist.track == track">
                            <i class="fa" ng-class="{'fa-volume-up': !player.isBuffering, 'fa-refresh rotate': player.isBuffering}"></i>
                        </div>
                    </div>
                </div>

                <div class="inner-info">
                    <div class="left inner-title" ng-class="{'full-width': !album.is_various}">
                        <div class="track-duration right ellipsis" ng-bind="track.length | mmss"></div>
                        <div class="ellipsis" ng-bind="track | getTitle"></div>
                    </div>
                    <div class="left inner-artist" ng-show="album.is_various">
                        <div class="ellipsis" ng-bind="track | getArtist"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>