<div class="library-body">
    <div class="library-container">
        <div class="artist-wrapper list-view container" infinite-scroll="load()" infinite-scroll-disabled="busy" infinite-scroll-distance="1">
            <div class="artist-item square2" ng-repeat="artist in artists">
                <div class="artist-list-content">
                    <div class="cover">
                        <img ng-if="artist.cover_file_id" ng-src="/content/cover/{{ artist.cover_file_id }}">
                    </div>
                    <div class="artist-name">
                        <a ng-href="#/artist/{{ artist.artist }}"
                           ng-bind-template="{{ artist | getArtist }}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>