<div class="library-body" ng-init="">
    <div class="library-container" multiselect-list="selected"
         multiselect-destination="tracks_selected" infinite-scroll="load()" infinite-scroll-disabled="busy" infinite-scroll-distance="1">
        <div class="album-wrapper clear-fix" ng-repeat="album in albums">
            <div class="left cover">
                <div class="cover-background">
                    <img ng-if="album.cover_middle" ng-src="/file/{{ album.cover_middle }}">
                </div>
            </div>
            <div class="content">
                <div class="album-title">
                    <div class="right" ng-bind="album.date"></div>
                    <div class="name" ng-bind="album.title | albumFilter"></div>
                </div>
                <div class="album-tracks">
                    <div class="track" multiselect-item="track" ng-repeat="track in album.tracks" action-play="track" action-context="tracks" action-resolver="fetch">
                        <div class="duration right" ng-bind-template="{{ track.duration | mmss }}"></div>
                        <div class="rating right">
                            <ul class="rating-body">
                                <li class="fa fa-star-o"></li>
                                <li class="fa fa-star-o"></li>
                                <li class="fa fa-star-o"></li>
                                <li class="fa fa-star-o"></li>
                                <li class="fa fa-star-o"></li>
                            </ul>
                        </div>
                        <div class="position left">
                            <div ng-hide="player.playlist.track.id == track.id" ng-bind-template="{{ $index + 1 }}."></div>
                            <div ng-show="player.playlist.track.id == track.id"><i class="fa fa-volume-up"></i></div>
                        </div>
                        <div class="track-title">
                            <div class="first" ng-bind="track | getTitle"></div>
                            <div class="second" ng-bind="track | getArtist"></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>