<div class="library-body" ng-init="albums = (tracks | groupBy: 'album')">
    <div class="title">
        Albums by artist
        &laquo;<b ng-bind="artist">-</b>&raquo;
        (albums &mdash; <b ng-bind="(albums | keys).length">-</b>,
        tracks &mdash; <b ng-bind="tracks.length">-</b>)
    </div>
    <div class="library-container">
        <div class="album-wrapper clear-fix" ng-repeat="(album, tracks_in_album) in albums">
            <div class="left cover" ng-init="first=tracks_in_album[0]">
                <div class="cover-background">
                    <img ng-if="first.cover_file_id" ng-src="/content/cover/{{ first.cover_file_id }}">
                </div>
            </div>
            <div class="content">
                <div class="album-title">
                    <div class="right" ng-bind="first.date"></div>
                    <div class="name" ng-bind="album | albumFilter"></div>
                </div>
                <div class="album-tracks">
                    <div class="track" ng-repeat="track in tracks_in_album" action-play="track" action-context="tracks">
                        <div class="duration right" ng-bind-template="{{ track.duration | mmss }}"></div>
                        <div class="rating right">
                            <ul class="rating-body">
                                <li class="fa fa-star-o"></li>
                                <li class="fa fa-star-o"></li>
                                <li class="fa fa-star-o"></li>
                                <li class="fa fa-star-o"></li>
                                <li class="fa fa-star-o"></li>
                            </ul>
                        </div>
                        <div class="position left">
                            <div ng-hide="player.playlist.track.id == track.id" ng-bind-template="{{ $index + 1 }}."></div>
                            <div ng-show="player.playlist.track.id == track.id">
                                <i class="fa fa-volume-up"></i>
                            </div>
                        </div>
                        <div class="track-title">
                            <div class="first" ng-bind="track | getTitle"></div>
                            <div class="second" ng-bind="track | getArtist"></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>