<div class="library-body">
    <div class="library-container">
        <div class="genre-wrapper list-view container" infinite-scroll="load()"
             infinite-scroll-disabled="busy" infinite-scroll-distance="1">
            <div class="list-item square2 square3md square6sm" ng-repeat="genre in genres">
                <div class="artist-list-content">
                    <div class="cover">
                        <img ng-if="genre.middle_cover_id" ng-src="/file/{{ genre.middle_cover_id }}">
                    </div>
                    <div class="artist-name">
                        <a ng-href="#/tracks/grouped?genre={{ genre.track_genre | uri }}"
                           ng-bind-template="{{ genre.track_genre | genreFilter }}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>