<div class="library-metadata">
    <div class="dialog">
        <div class="header">
            <img class="backing" ng-if="current_cover" ng-src="/file/{{ current_cover }}">
            <div class="left artwork-section">
                <div class="artwork-holder">
                    <img ng-if="current_cover" ng-src="/file/{{ current_cover }}">
                </div>
            </div>
            <div class="info-holder">
                <div class="line1" ng-bind="selected.artists"></div>
                <div class="line2" ng-bind="selected.songs"></div>
            </div>
        </div>
        <div class="metadata">
            <div class="meta-row" ng-show="songs.length == 1">
                <div class="right field">
                    <input name="track-title" id="track-title" type="text" ng-model="fields.track_title">
                </div>
                <label class="label boxed" for="track-title">Title</label>
            </div>
            <div class="meta-row">
                <div class="right field">
                    <input name="track-artist" id="track-artist" type="text" ng-model="fields.track_artist">
                </div>
                <label class="label boxed" for="track-artist">Artist</label>
            </div>
            <div class="meta-row">
                <div class="right field">
                    <input name="track-album" id="track-album" type="text" ng-model="fields.track_album">
                </div>
                <label class="label boxed" for="track-album">Album</label>
            </div>
            <div class="meta-row">
                <div class="right field">
                    <input name="album-artist" id="album-artist" type="text" ng-model="fields.album_artist">
                </div>
                <label class="label boxed" for="album-artist">Album artist</label>
            </div>
            <div class="meta-row">
                <div class="right field">
                    <input name="track-number" id="track-number" type="text" ng-model="fields.track_number">
                </div>
                <label class="label boxed" for="track-number">Track #</label>
            </div>
            <div class="meta-row">
                <div class="right field">
                    <input name="disc-number" id="disc-number" type="text" ng-model="fields.disc_number">
                </div>
                <label class="label boxed" for="disc-number">Disc #</label>
            </div>
            <div class="meta-row">
                <div class="right field">
                    <input type="checkbox" name="is-compilation" id="is-compilation" ng-model="flags.is_compilation">
                    <label for="is-compilation">Selected items are part of compilation</label>
                </div>
            </div>
            <div class="meta-row">
                <div class="right field">
                    <input name="album-artist" id="track-genre" type="text" ng-model="fields.track_genre">
                </div>
                <label class="label boxed" for="track-genre">Genre</label>
            </div>
            <div class="meta-row">
                <div class="right field">
                    <input name="album-artist" id="track-year" type="text" ng-model="fields.track_year">
                </div>
                <label class="label boxed" for="track-year">Year</label>
            </div>
        </div>
        <div class="buttons clear-fix" ml-enter="save()">
            <div class="ml-button right" ng-click="closeThisWindow()">Cancel</div>
            <div class="ml-button right" ng-click="save()">Save</div>
            <div class="ml-button left" change-artwork="songs">
                <i class="fa fa-picture-o"></i> Change artwork
            </div>
        </div>
    </div>
</div>