@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-sha7vj');
	src:url('fonts/icomoon.eot?#iefix-sha7vj') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-sha7vj') format('truetype'),
		url('fonts/icomoon.woff?-sha7vj') format('woff'),
		url('fonts/icomoon.svg?-sha7vj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-songs:before {
	content: "\e600";
}
.icon-albums:before {
	content: "\e601";
}
.icon-genres:before {
	content: "\e602";
}
.icon-artists:before {
	content: "\e603";
}
