@middle_width: 1024px;
@small_width: 640px;

.dyn-attr(@attr, @val, @sm, @xs) {
  @{attr}: @val;
  @media (max-width: @middle_width) {  @{attr}: @sm  }
  @media (max-width: @small_width) {  @{attr}: @xs  }
}

.dyn-border(@attr) {
  .dyn-attr(@attr, 24px, 16px, 8px)
}

.dyn-border-sm(@attr) {
  .dyn-attr(@attr, 16px, 8px, 8px);
}

.dyn-border-xs(@attr) {
  .dyn-attr(@attr, 12px, 8px, 4px);
}

.dyn-mar-left()       { .dyn-border(margin-left)          }
.dyn-mar-right()      { .dyn-border(margin-right)         }
.dyn-mar-top()        { .dyn-border(margin-top)           }
.dyn-mar-bottom()     { .dyn-border(margin-bottom)        }
.dyn-mar-v()          { .dyn-mar-top(); .dyn-mar-bottom() }
.dyn-mar-h()          { .dyn-mar-left(); .dyn-mar-right() }

.dyn-mar-left-sm()    { .dyn-border-sm(margin-left)             }
.dyn-mar-right-sm()   { .dyn-border-sm(margin-right)            }
.dyn-mar-top-sm()     { .dyn-border-sm(margin-top)              }
.dyn-mar-bottom-sm()  { .dyn-border-sm(margin-bottom)           }
.dyn-mar-v-sm()       { .dyn-mar-top-sm(); .dyn-mar-bottom-sm() }
.dyn-mar-h-sm()       { .dyn-mar-left-sm(); .dyn-mar-right-sm() }

.dyn-mar-left-xs()    { .dyn-border-xs(margin-left)             }
.dyn-mar-right-xs()   { .dyn-border-xs(margin-right)            }
.dyn-mar-top-xs()     { .dyn-border-xs(margin-top)              }
.dyn-mar-bottom-xs()  { .dyn-border-xs(margin-bottom)           }
.dyn-mar-v-xs()       { .dyn-mar-top-xs(); .dyn-mar-bottom-xs() }
.dyn-mar-h-xs()       { .dyn-mar-left-xs(); .dyn-mar-right-xs() }


.dyn-pad-left()     { .dyn-border(padding-left)         }
.dyn-pad-right()    { .dyn-border(padding-right)        }
.dyn-pad-top()      { .dyn-border(padding-top)          }
.dyn-pad-bottom()   { .dyn-border(padding-bottom)       }
.dyn-pad-v()        { .dyn-pad-top(); .dyn-pad-bottom() }
.dyn-pad-h()        { .dyn-pad-left(); .dyn-pad-right() }

.dyn-pad-left-sm()    { .dyn-border-sm(padding-left)            }
.dyn-pad-right-sm()   { .dyn-border-sm(padding-right)           }
.dyn-pad-top-sm()     { .dyn-border-sm(padding-top)             }
.dyn-pad-bottom-sm()  { .dyn-border-sm(padding-bottom)          }
.dyn-pad-v-sm()       { .dyn-pad-top-sm(); .dyn-pad-bottom-sm() }
.dyn-pad-h-sm()       { .dyn-pad-left-sm(); .dyn-pad-right-sm() }

.dyn-pad-left-xs()    { .dyn-border-xs(padding-left)            }
.dyn-pad-right-xs()   { .dyn-border-xs(padding-right)           }
.dyn-pad-top-xs()     { .dyn-border-xs(padding-top)             }
.dyn-pad-bottom-xs()  { .dyn-border-xs(padding-bottom)          }
.dyn-pad-v-xs()       { .dyn-pad-top-xs(); .dyn-pad-bottom-xs() }
.dyn-pad-h-xs()       { .dyn-pad-left-xs(); .dyn-pad-right-xs() }


.dyn-sidebar-width() {
  .dyn-attr(width, 260px, 180px, 140px);
}

.dyn-body-margin() {
  .dyn-attr(margin-left, 260px, 180px, 140px);
}

.dyn-cover-size() {
  .dyn-attr(width,  200px, 150px, 100px);
  .dyn-attr(height, 200px, 150px, 100px);
}

.dyn-cover-margin() {
  .dyn-attr(margin-left, 200px, 150px, 100px);
}

.dyn-title-size() {
  .dyn-attr(font-size, 18px, 16px, 14px);
  .dyn-attr(font-weight, 400, 400, 600);
}

@media (max-width: 1600px) {
  .xl-visible { display: none }
}

@media (max-width: 1200px) {
  .lg-visible { display: none }
}

@media (max-width: 960px) {
  .md-visible { display: none }
}

@media (max-width: 820px) {
  .sm-visible { display: none }
}

.container {
  position: relative;
  [class*="col"] { float: left }
  .col1  { width: 8.33% }
  .col2  { width: 16.66% }
  .col3  { width: 25% }
  .col4  { width: 33.33% }
  .col5  { width: 41.66% }
  .col6  { width: 50% }
  .col7  { width: 58.33% }
  .col8  { width: 66.66% }
  .col9  { width: 75% }
  .col10 { width: 83.33% }
  .col11 { width: 91.66% }
  .col12 { width: 100% }

  [class*="square"] { float: left }
  .square1  { width: 8.33%; padding-bottom: 8.33%; }
  .square2  { width: 16.66%; padding-bottom: 16.66%; }
  .square3  { width: 25%; padding-bottom: 25%; }
  .square4  { width: 33.33%; padding-bottom: 33.33%; }
  .square5  { width: 41.66%; padding-bottom: 41.66%; }
  .square6  { width: 50%; padding-bottom: 50%; }
  .square7  { width: 58.33%; padding-bottom: 58.33%; }
  .square8  { width: 66.66%; padding-bottom: 66.66%; }
  .square9  { width: 75%; padding-bottom: 75%; }
  .square10 { width: 83.33%; padding-bottom: 83.33%; }
  .square11 { width: 91.66%; padding-bottom: 91.66%; }
  .square12 { width: 100%; padding-bottom: 100%; }

  @media (max-width: 2000px) {
    .square1bg  { width: 8.33%; padding-bottom: 8.33%; }
    .square2bg  { width: 16.66%; padding-bottom: 16.66%; }
    .square3bg  { width: 25%; padding-bottom: 25%; }
    .square4bg  { width: 33.33%; padding-bottom: 33.33%; }
    .square5bg  { width: 41.66%; padding-bottom: 41.66%; }
    .square6bg  { width: 50%; padding-bottom: 50%; }
    .square7bg  { width: 58.33%; padding-bottom: 58.33%; }
    .square8bg  { width: 66.66%; padding-bottom: 66.66%; }
    .square9bg  { width: 75%; padding-bottom: 75%; }
    .square10bg { width: 83.33%; padding-bottom: 83.33%; }
    .square11bg { width: 91.66%; padding-bottom: 91.66%; }
    .square12bg { width: 100%; padding-bottom: 100%; }
  }

  @media (max-width: 1024px) {
    .square1md  { width: 8.33%; padding-bottom: 8.33%; }
    .square2md  { width: 16.66%; padding-bottom: 16.66%; }
    .square3md  { width: 25%; padding-bottom: 25%; }
    .square4md  { width: 33.33%; padding-bottom: 33.33%; }
    .square5md  { width: 41.66%; padding-bottom: 41.66%; }
    .square6md  { width: 50%; padding-bottom: 50%; }
    .square7md  { width: 58.33%; padding-bottom: 58.33%; }
    .square8md  { width: 66.66%; padding-bottom: 66.66%; }
    .square9md  { width: 75%; padding-bottom: 75%; }
    .square10md { width: 83.33%; padding-bottom: 83.33%; }
    .square11md { width: 91.66%; padding-bottom: 91.66%; }
    .square12md { width: 100%; padding-bottom: 100%; }
  }

  @media (max-width: 640px) {
    .square1sm  { width: 8.33%; padding-bottom: 8.33%; }
    .square2sm  { width: 16.66%; padding-bottom: 16.66%; }
    .square3sm  { width: 25%; padding-bottom: 25%; }
    .square4sm  { width: 33.33%; padding-bottom: 33.33%; }
    .square5sm  { width: 41.66%; padding-bottom: 41.66%; }
    .square6sm  { width: 50%; padding-bottom: 50%; }
    .square7sm  { width: 58.33%; padding-bottom: 58.33%; }
    .square8sm  { width: 66.66%; padding-bottom: 66.66%; }
    .square9sm  { width: 75%; padding-bottom: 75%; }
    .square10sm { width: 83.33%; padding-bottom: 83.33%; }
    .square11sm { width: 91.66%; padding-bottom: 91.66%; }
    .square12sm { width: 100%; padding-bottom: 100%; }
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}