@import-once "adaptive";

.album-header {
  background-color: #1a232f;
  position: relative;
  overflow: hidden;
//  .dyn-pad-v;
//  .dyn-pad-h;
  .artwork-blurred {
    margin-top: -50%;
    position: absolute;
    width: 102%;
    top: -1%;
    left: -1%;
    right: -1%;
    z-index: 0;
    opacity: 0.7;
    .blur(50px);
  }
  .artwork-section {
    position: relative;
    z-index: 1;
  }
  .description-section {
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #ffffff;
    line-height: 1.5em;
    text-shadow: 1px 1px 4px #000000;
    padding-top: 2px;
    .dyn-mar-top;
    .separator {
      padding: 0 2px;
    }
    .album-title {
      .dyn-pad-left;
      .dyn-attr(font-size, 20pt, 16pt, 12pt);
      font-weight: 300;
    }
    .album-info {
      .dyn-attr(font-size, 12pt, 10pt, 9pt);
      padding-bottom: 2px;
      .dyn-pad-top-xs;
      .dyn-pad-left;
      .album-artist {
        &:before {
          content: 'by ';
        }
      }
      .tracks-count {
        &:after {
          content: " track(s)";
        }
      }
      .fa {
        margin-right: 2px;
      }
    }
  }
}