.menu-context {
  text-transform: none;
  font-weight: normal;
  font-size: 10pt;
  position: absolute;
  padding: 4px 0;
  background-color: #ffffff;
  z-index: 1000;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  box-shadow: rgba(32, 32, 32, 0.3) 0 6px 12px 0;
  & > li {
    padding: 8px 16px 8px 8px;
    white-space: nowrap;
    position: relative;
    min-width: 150px;
    &:not(.menu-divider) {
      a {
        display: block;
      }
      cursor: pointer;
    }
    .fa-caret-right {
      position: absolute;
      display: block;
      right: 4px;

    }
    &:hover:not(.menu-divider) {
      background-color: #eeeeee;
      & > .menu-context-sub {
        display: block !important;
      }
    }
    &.menu-divider {
      padding: 0;
      margin: 4px 0;
      height: 1px;
      background-color: #eeeeee;
    }
  }
  &.menu-context-sub {
    left: 100%;
    top: 0;
    margin-top: -5px;
    display: none;
  }
}

.dd-icon {
  cursor: pointer;
  &:hover {
    color: #556677;
  }
  &.selected {
    color: #334455 !important;
  }
}