.list-view {
  .artist-item {
    position: relative;
    .artist-list-content {
      background: #f0f0f0 url("/public/images/default.directory.jpg") no-repeat center center;
      background-size: cover;
      left: 4px;
      right: 4px;
      bottom: 4px;
      top: 4px;
      position: absolute;
      text-align: center;
      .artist-name {
        position: absolute;
        width: 100%;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 4px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}