@import "../common";

.plain-list {
  & > .plain-list-item {
    margin-right: -8px;
    margin-left: -8px;
    padding: 6px 8px;
    & > * {
      padding: 0 4px;
    }
    &.selected {
      border-radius: 4px;
      background-color: #334455;
      color: #ffffff;
    }
    &.header {
      margin-bottom: 12px;
      color: #818384;
    }
  }
}

.plain-list.tracks-list {
  .last-played {
    width: 150px;
    text-align: right;
  }
  .bitrate {
    width: 75px;
    text-align: right;
  }
  .format {
    width: 75px;
    text-align: right;
  }
  .plays {
    width: 32px;
    text-align: center;
  }
  .skips {
    width: 32px;
    text-align: center;
  }
  .rating {
    width: 96px;
    text-align: right;
  }
  .position {
    width: 36px;
  }
  .inner-info {
    overflow: hidden;
    .inner-title {
      width: 50%;
      .track-duration {
        width: 50px;
        text-align: center;
        padding: 0 4px;
      }
    }
  }
  .position {
    width: 26px;
    text-align: right;
  }
}