.rating-body {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-weight: 600;
  transition: linear 100ms opacity;
  display: inline-block;
  & > li {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-right: 2px;
    &.rating-star:hover:before,
    &:hover ~ li.rating-star:before {
      content: "\f005";
    }
    &.rating-remove {  }
  }
  &.shaded:not(:hover) {
    opacity: 0.3;
  }
}

.rotate {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.cover-background {
  background: #fcfcfc url("/public/images/default.directory.jpg") center center no-repeat;
  background-size: cover;
  .dyn-cover-size;
  img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}


.blur(@radius) {
  filter: blur(@radius);
  -webkit-filter: blur(@radius);
  -moz-filter: blur(@radius);
  -o-filter: blur(@radius);
  -ms-filter: blur(@radius);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=@radius);
  filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/20…%20id='blur'><feGaussianBlur%20stdDeviation='10'%20/></filter></svg>#blur");

}