@import "mixins/gradient";
@import "mixins/adaptive";
@import "mixins/ui";
@import "mixins/list-view";
@import "mixins/album-header";
@import "mixins/plain-list";
@import "mixins/library-upload";
@import "mixins/progress-bar";
@import "mixins/library-metadata";
@import "mixins/search-results";
@import "common";
@import "mixins/peaks";


.library-header {
  position: fixed;
  width: 100%;
  height: 48px;
  display: table;
  table-layout: fixed;
  border-bottom: 1px solid #313D49;
  top: 0;
  box-sizing: border-box;
  z-index: 10;

  color: #dddddd;
  background-color: #223344;

  ul.items {
    width: 100%;
    height: 100%;
    display: table-row;
    & > li {
      vertical-align: middle;
      display: table-cell;
      height: 48px;
      position: relative;
      & >.group {
        .dyn-pad-h
      }
      &.nav-logo, &.nav-profile {
        .dyn-sidebar-width;
      }
      &:not(:last-child) {
        border-right: 1px solid #112233;
      }
      &:not(:first-child) {
        border-left: 1px solid #334455;
      }
    }
  }
}

.library-player {
  position: fixed;
  width: 100%;
  height: 48px;
  display: table;
  table-layout: fixed;
  border-top: 1px solid #313D49;
  bottom: 0;
  z-index: 10;

  color: #dddddd;
  background-color: #223344;

  ul.items {
    width: 100%;
    height: 100%;
    display: table-row;
    & > li {
      vertical-align: middle;
      display: table-cell;
      height: 48px;
      &.player-controls, &.player-icons {
        .dyn-sidebar-width;
      }
      &.player-display {
        padding: 0;
      }
    }
  }

  .player-controls {
    position: relative;
    .controls {
      li {
        float: left;
        width: 33%;
        text-align: center;
        font-size: 18px;
        &.ctrl-play {
          font-size: 24px;
        }
        &.ctrl-previous, &.ctrl-next {
          margin-top: 2px;
        }
      }
    }
  }

  .player-icons {
    position: relative;
    .icons {
      li {
        float: left;
        width: 33%;
        text-align: center;
        font-size: 18px;
        position: relative;
        padding: 14px 0;
        &.ctrl-volume {
          .volume-controller {
            opacity: 0;
            position: absolute;
            width: 48px;
            height: 160px;
            bottom: -24px;
            left: 50%;
            margin-left: -24px;
            background-color: #223344;
            box-sizing: border-box;
            border-radius: 4px 4px 0 0;
            transition: linear all 0.1s;
            z-index: 1000;
            .volume-background {
              width: 100%;
              height: 116px;
              margin-top: 16px;
              position: relative;
              cursor: pointer;
              .background-line {
                left: 23px;
                position: absolute;
                width: 3px;
                background-color: #000000;
                height: 100%;
                z-index: 1;
                border-radius: 1px;
              }
              .value-line {
                left: 23px;
                position: absolute;
                width: 3px;
                z-index: 2;
                background-color: #ff4141;
                bottom: 0;
                border-radius: 1px;
              }
              .volume-bulb {
                opacity: 0;
                transition: 0.1s linear opacity;
                margin-bottom: -6px;
                margin-left: -1px;
                position: absolute;
                bottom: 0;
                left: 21px;
                width: 9px;
                height: 9px;
                border-radius: 50%;
                background-color: #ff4141;
                z-index: 2;
                box-shadow: 0 0 4px #ff4141;
              }
              &:hover {
                .volume-bulb {
                  opacity: 1;
                }
              }
            }
          }
          &:hover, &.drag {
            .volume-controller {
              opacity: 1;
              bottom: 32px;
            }
          }
          &.drag {
            .volume-bulb {
              opacity: 1 !important;
            }
          }
        }
      }

    }
  }

  .track-display {
    position: relative;
    width: 250px;
    .cover-background {
      float: left;
      width: 48px;
      height: 48px;
      img {
        width: 100%;
        height: 100%;
        vertical-align: middle;
      }
    }
    .track-info {
      .current-title {
        font-weight: 600;
        padding-top: 2px;
        padding-left: 7px;
        padding-bottom: 4px;
        .ellipsis;
      }
      .current-artist {
        font-size: 8pt;
        padding-left: 7px;
        padding-bottom: 4px;
        .ellipsis
      }
    }
  }

  .player-display {
    position: relative;
    .display {
      overflow: hidden;

      .text {
        position: relative;
        padding-left: 48px;
        box-sizing: border-box;
        .now-playing {
          text-align: center;
          .track-title {
            white-space: nowrap;
            overflow: hidden;
            padding-bottom: 2px;
            text-overflow: ellipsis;
            font-size: 9pt;
            margin-top: 10px;
            .current-track {
              font-weight: 700;
            }
            .current-artist {
              font-weight: 300;
              color: #f0f0f0;
              &:before {
                content: 'by';
                padding-right: 4px;
              }
            }
            .current-rating {
            }
          }
        }
        .progress-background {
          box-sizing: border-box;
          padding: 0 16px;
          @media (max-width: 640px) {
            padding: 0 8px;
          }
          margin-top: 4px;
          width: 100%;
          height: 9px;
          .progress-area {
            overflow: hidden;
            padding: 5px 0;
            position: relative;
            height: 6px;
            cursor: pointer;
            .progress-loader {
              @keyframes move {
                0% {
                  background-position: 0 0;
                }
                100% {
                  background-position: 100px 0;
                }
              }
              position: absolute;
              width: 100%;
              height: 3px;
              border-radius: 1px;
              background: #ff4141;
              background: linear-gradient(45deg, #ff4141 0%, #ff4141 25%, #ff9995 25%, #ff9995 50%, #ff4141 50%, #ff4141 75%, #ff9995 75%, #ff9995);
              background-size: 100px 100px;
              animation: move 2s linear infinite;
              z-index: 10;
            }
            .progress-line {
              position: absolute;
              width: 100%;
              height: 3px;
              background-color: black;
              z-index: 0;
              border-radius: 1px;
              transition: 0.1s linear height;
            }
            .progress-position {
              position: absolute;
              width: 0;
              height: 3px;
              background-color: #ff4141;
              z-index: 1;
              border-radius: 1px;
//              transition: 0.1s linear all;
            }
            .progress-bulb {
              opacity: 0;
              transition: 0.1s linear opacity;
              margin-top: -3px;
              margin-left: -4px;
              position: absolute;
              left: 0;
              width: 9px;
              height: 9px;
              border-radius: 50%;
              background-color: #ff4141;
              z-index: 2;
              box-shadow: 0 0 4px #ff4141;
            }
          }
          .time-left {
            float: left;
            margin-right: 16px;
            @media (max-width: 500px) {
              display:none;
            }
          }
          .time-right {
            float: right;
            margin-left: 16px;
            @media (max-width: 500px) {
              display:none;
            }
          }
          .time-left, .time-right {
            font-size: 8pt;
            font-weight: bold;
          }
          &:hover {
            .progress-bulb {
              opacity: 1;
            }
          }
        }
      }
    }
  }

}

.library-sidebar {
  z-index: 10;
  .dyn-sidebar-width;
  position: fixed;
  box-sizing: border-box;
  top: 49px;
  bottom: 49px;
  color: #757577;
  .sidebar {
    background-color: #f1f2f4;
    border-right: 1px solid #ced1d6;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    .section {
      .dyn-pad-v;
      .section-title {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12pt;
        .dyn-pad-bottom-sm;
        border-bottom: 1px solid #ced1d6;
        margin-bottom: 8px;
        .dyn-mar-h;
      }
      ul.section-list {
        font-size: 10pt;
        font-weight: 600;
        & > li {
          & > a {
            .dyn-pad-v-xs;
          }
          .dyn-pad-h;
          &.active, &:hover {
            background-color: #dfe2e9;
            color: #111111;
          }
        }
      }
    }

  }
}

.library-body {
  padding-top: 48px;
  padding-bottom: 48px;
  position: relative;

  .dyn-body-margin;

  .album-view-container {
    .dyn-mar-v-sm;
    .dyn-mar-h;
  }

  .tracks-view-container {
    .dyn-mar-v-sm;
    .dyn-mar-h;
  }

  .library-container {
    .dyn-mar-v;
    .dyn-mar-h;
    .album-wrapper {
      padding-bottom: 48px;
      .cover {
        .album-ratio {
          text-align: center;
          .dyn-mar-top-xs;
          .rating-body {
            display: inline-block;
          }
        }
      }
      .content {

        .dyn-cover-margin();

        .dyn-pad-left;

        .album-title {
          font-weight: 300;
          border-bottom: 1px solid #ced1d6;
          white-space: nowrap;
          .dyn-title-size;
          .dyn-pad-bottom-sm;
          .album-sub {
            overflow: hidden;
            padding-bottom: 3px;
            text-overflow: ellipsis;
            white-space: nowrap;
            .band {
              color: #737373;
            }
          }
        }

        .album-tracks {
          margin-top: -4px;
          .dyn-pad-top-sm;
          .track {
            margin-right: -8px;
            margin-left: -8px;
            padding: 6px 8px;
            & > * {
              padding-top: 2px;
              padding-bottom: 2px;
            }
            .duration {
              width: 50px;
              text-align: right;
              margin-left: 16px;
            }
            .plays {
              margin-right: 16px;
              text-align: right;
            }
            .rating {
              width: 96px;
            }
            .position {
              width: 36px;
            }
            .track-title {
              .first {
                padding-top: 2px;
                padding-bottom: 2px;
              }
              .second {
                margin-left: 36px;
                margin-top: 4px;
                padding-bottom: 2px;
                font-size: 9pt;
                color: #757577;
                &:empty {
                  display: none;
                }
              }
            }
            &.selected {
              border-radius: 4px;
              background-color: #334455;
              color: #ffffff;
              .track-title {
                .second {
                  color: #eeeeee;
                }
              }
            }
          }
        }
      }
    }
  }


}